body {
  width: 500px;
  margin: 3rem auto;
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

input {
  width: 60%;
  padding: 0.3rem;
}

button {
  padding: 0.3rem 0.6rem;
  margin-left: 0.3rem;
}

ul {
  margin-top: 1rem;
  padding-left: 0;
}

li {
  list-style: none;
  margin-bottom: 0.5rem;
}

li button {
  margin-left: 0.5rem;
}