@media (min-width: 700px) {
  #hamburger {
    display: none;
  }

  nav {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
  }

  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}