@media (min-width: 768px) {

  main {
    padding: 2rem 0;
  }

  .data {
    position: absolute;
    top: 20%;
    left: 5%;
  }

  .weather {
    position: absolute;
    top: 20%;
    right: 5%;
  }

  .weather-icon {
    display: none;
  }

  .weather h2::after {
    content: " ☀️";
  }
}